### Exercise 2: Scrape the data on Revenue from forest resources.

In [166]:
from IPython.display import IFrame  
ciaLink2="https://www.cia.gov/the-world-factbook/field/revenue-from-forest-resources/country-comparison" 
IFrame(ciaLink2, width=900, height=900)

# read web table into pandas DF
import pandas as pd

forestDFs=pd.read_html(ciaLink2, 
                        header=0, 
                        flavor='bs4')

type(forestDFs)

list

In [167]:
len(forestDFs)

1

In [168]:
forest=forestDFs[0].copy()
forest

     Rank                   Country  % of GDP Date of Information
0       1           Solomon Islands     20.27           2018 est.
1       2                   Liberia     13.27           2018 est.
2       3                   Burundi     10.31           2018 est.
3       4             Guinea-Bissau      9.24           2018 est.
4       5  Central African Republic      8.99           2018 est.
..    ...                       ...       ...                 ...
199   200                      Guam      0.00           2018 est.
200   201             Faroe Islands      0.00           2017 est.
201   202                     Aruba      0.00           2017 est.
202   203            Virgin Islands      0.00           2017 est.
203   204                     Macau      0.00           2018 est.

[204 rows x 4 columns]

### 1. Replace '%' by 'pct'

In [30]:
forest.columns

Index(['Rank', 'Country', '% of GDP', 'Date of Information'], dtype='object')

In [171]:
forest.Cleaned = forest.copy()
forest.Cleaned = forest.Cleaned.rename(columns={'% of GDP':'pct of GDP'})
forest.Cleaned

     Rank                   Country  pct of GDP Date of Information
0       1           Solomon Islands       20.27           2018 est.
1       2                   Liberia       13.27           2018 est.
2       3                   Burundi       10.31           2018 est.
3       4             Guinea-Bissau        9.24           2018 est.
4       5  Central African Republic        8.99           2018 est.
..    ...                       ...         ...                 ...
199   200                      Guam        0.00           2018 est.
200   201             Faroe Islands        0.00           2017 est.
201   202                     Aruba        0.00           2017 est.
202   203            Virgin Islands        0.00           2017 est.
203   204                     Macau        0.00           2018 est.

[204 rows x 4 columns]

### 2. Keep the columns Country, pct of GDP, and Date of Information

In [172]:
byecolumns = set(forest.Cleaned.columns) - {"Country", "pct of GDP", "Date of Information"}
forest.Cleaned.drop(columns = byecolumns, inplace=True)
forest.Cleaned

                      Country  pct of GDP Date of Information
0             Solomon Islands       20.27           2018 est.
1                     Liberia       13.27           2018 est.
2                     Burundi       10.31           2018 est.
3               Guinea-Bissau        9.24           2018 est.
4    Central African Republic        8.99           2018 est.
..                        ...         ...                 ...
199                      Guam        0.00           2018 est.
200             Faroe Islands        0.00           2017 est.
201                     Aruba        0.00           2017 est.
202            Virgin Islands        0.00           2017 est.
203                     Macau        0.00           2018 est.

[204 rows x 3 columns]

### 3. Change the column name Date of Information to forest_date.

In [173]:
forest.Cleaned.rename(columns={"Date of Information":"forest_date"}, inplace=True)
forest.Cleaned

                      Country  pct of GDP forest_date
0             Solomon Islands       20.27   2018 est.
1                     Liberia       13.27   2018 est.
2                     Burundi       10.31   2018 est.
3               Guinea-Bissau        9.24   2018 est.
4    Central African Republic        8.99   2018 est.
..                        ...         ...         ...
199                      Guam        0.00   2018 est.
200             Faroe Islands        0.00   2017 est.
201                     Aruba        0.00   2017 est.
202            Virgin Islands        0.00   2017 est.
203                     Macau        0.00   2018 est.

[204 rows x 3 columns]

### 4. Make sure there are no spaces as part of the column names.

In [174]:
forest.Cleaned.columns

Index(['Country', 'pct of GDP', 'forest_date'], dtype='object')

In [177]:
ByeSpace = lambda x: re.sub("\s","", x)
columnas = [ByeSpace(i) for i in list(forest.Cleaned.columns)]

forest.Cleaned.rename(columns={forest.Cleaned.columns[0]:columnas[0], forest.Cleaned.columns[1]:columnas[1], forest.Cleaned.columns[2]:columnas[2]}, inplace=True)
forest.Cleaned

                      Country  pctofGDP forest_date
0             Solomon Islands     20.27   2018 est.
1                     Liberia     13.27   2018 est.
2                     Burundi     10.31   2018 est.
3               Guinea-Bissau      9.24   2018 est.
4    Central African Republic      8.99   2018 est.
..                        ...       ...         ...
199                      Guam      0.00   2018 est.
200             Faroe Islands      0.00   2017 est.
201                     Aruba      0.00   2017 est.
202            Virgin Islands      0.00   2017 est.
203                     Macau      0.00   2018 est.

[204 rows x 3 columns]

### 5. Make sure the cells with text does not have neither trailing nor leading spaces.

In [178]:
forest.Cleaned.Country= [ByeSpace(i) for i in list(forest.Cleaned.Country)]
forest.Cleaned.forest_date= [ByeSpace(i) for i in list(forest.Cleaned.forest_date)]

forest.Cleaned

                    Country  pctofGDP forest_date
0            SolomonIslands     20.27    2018est.
1                   Liberia     13.27    2018est.
2                   Burundi     10.31    2018est.
3             Guinea-Bissau      9.24    2018est.
4    CentralAfricanRepublic      8.99    2018est.
..                      ...       ...         ...
199                    Guam      0.00    2018est.
200            FaroeIslands      0.00    2017est.
201                   Aruba      0.00    2017est.
202           VirginIslands      0.00    2017est.
203                   Macau      0.00    2018est.

[204 rows x 3 columns]

### 6. Keep only the year value in the column forest_date

In [184]:
def ByeEst(x):
    x = re.sub("est.","",x)
    return x

forest.Cleaned["forest_date"] = forest.Cleaned.loc[:,["forest_date"]].applymap(ByeEst)
forestCleaned

     Rank                 Country  pctofGDP forest_date
0       1          SolomonIslands     20.27        2018
1       2                 Liberia     13.27        2018
2       3                 Burundi     10.31        2018
3       4           Guinea-Bissau      9.24        2018
4       5  CentralAfricanRepublic      8.99        2018
..    ...                     ...       ...         ...
199   200                    Guam      0.00        2018
200   201            FaroeIslands      0.00        2017
201   202                   Aruba      0.00        2017
202   203           VirginIslands      0.00        2017
203   204                   Macau      0.00        2018

[204 rows x 4 columns]

### Tabla resultante

In [188]:
forestCleaned.to_csv("forestCleaned.csv")
forestCleaned

     Rank                 Country  pctofGDP forest_date
0       1          SolomonIslands     20.27        2018
1       2                 Liberia     13.27        2018
2       3                 Burundi     10.31        2018
3       4           Guinea-Bissau      9.24        2018
4       5  CentralAfricanRepublic      8.99        2018
..    ...                     ...       ...         ...
199   200                    Guam      0.00        2018
200   201            FaroeIslands      0.00        2017
201   202                   Aruba      0.00        2017
202   203           VirginIslands      0.00        2017
203   204                   Macau      0.00        2018

[204 rows x 4 columns]